<!--<app-employee></app-employee>-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class='container1'>
          <ul>
            <li >
              <a class='nav-link' routerLink="/home">Anasayfa</a>
            </li>
            <li >
              <a class='nav-link' routerLink="/home/:id">Notlar</a>
            </li>
          <li>
            <a class='nav-link' routerLink="sign-in">Giriş Yap</a>
          </li>
          <li>
            <a class='nav-link' routerLink="deneme">Denmee</a>
          </li>
          </ul>
        </div>
      </nav>
  
<router-outlet></router-outlet>



